body {
	color: #676d79;
	background: #282b34;
	font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	margin: 0;
}

.group:before,
.group:after {
    content: " "; 
    display: table; 
}

.group:after {
    clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.pull-left {
	float: left;
	margin-left: 49px;
}

.pull-right {
	float: right;
	
}

.text-center {
	text-align: center;
}

a {
	color: #fff;
}

a:hover, 
a:focus {
	text-decoration: none;
}

article {
	margin-bottom: 70px;
}

article .container {
	border-bottom: 1px solid #33343e;
	padding: 60px;
}

article h1 {
	color: #fff;
	font-size: 35px;
	line-height: 52px;
	letter-spacing: 2.5px;
	margin-top: 0;
}

article p {
	font-size: 23px;
	font-weight: normal;
	line-height: 34px;
	letter-spacing: 1.5px;
	margin-bottom: 0px;
}

form {
	width: 620px;
}

input,
textarea {
	color: #919499;
	font-size: inherit;
	font-family: inherit;
	letter-spacing: 0.5px;
	padding: 14px 17px;
	background: #ccc;
	border: none;
	border-radius: 6px;
	width: 240px;
	-webkit-appearance: none;
	margin-right: 20px;
	margin-bottom: 50px;
}



input:focus,
textarea:focus {
	transition: 0.25s all ease-in-out;
	background: #fff;
}

.button {
	background: #e97770;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 4px;
	width: 180px;
	padding-top: 23px;
	padding-bottom: 22px;
	cursor: pointer; 
	margin-left: 50px;
	
}

.button:hover,
.button:focus {
	background: #f98780;
	transition: 0.25s all ease-in-out;
}

.alt {
	color: #aaa;
	background: transparent;
	box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.5);
}

.alt:hover,
.alt:focus {
	color: #ccc;
	background: transparent;
	box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.65);
}

::-webkit-input-placeholder {
   color: #555;
   font-style: italic;
}

::-moz-placeholder { 
   color: #555;  
   font-style: italic;
}

:-ms-input-placeholder {  
   color: #555;  
   font-style: italic;
}

.features section {
	float: left; 
	width: 270px;
	border-bottom: 1px solid #33343e;
	margin-bottom: 60px;
	padding-bottom: 60px;
}

.features section:first-child {
	margin-right: 40px;
}

.features .group:last-child section {
	border: none;
}

.features h3 {
	color: #E97770;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 30px;
	margin-bottom: 15px;
	margin-top: 0;
}

.features h3:before {
	color: #fff;
	font-size: 24px;
	line-height: 45px;
	font-family: FontAwesome;
	font-weight: normal;
	text-align: center;

	display: inline-block;
	height: 45px;
	width: 45px;
	margin-right: 24px;
	position: relative;
	left: 10px;

	background: #2f333b;
	border-radius: 50%;
}

.features p {
	color: rgba(255, 255, 255, 0.498039);
	font-weight: normal;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin: 0 0 0 70px;
}
.a,
.b,
.c,
.d{
	display: none;
	color: crimson;
	font-size: 200;
	font-weight: 300;
}

.first{
float: left;
margin-left: 160px;
}
.two{
	margin-left: 200px;
}


